{% extends 'base.html.twig' %}

{% block body %}
    <div class="container" id="portfolio">
        <h2>Enregistrer un projet</h2>
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <button class="btn btn-primary">Sauvegarder</button>
        {{ form_end(form) }}
    </div>
{%  endblock %}