{% extends "base.html.twig" %}
{% block title 'Toutes mes réalisations' %}
{% block body %}
<div class="container">
    <h2>Voici Mon portfolio</h2>
</div>

<div class="container">
    <h2>Tous mes projets</h2>
    <div class="row flex">
        {% for portfolio in portfolio %}
            <div class="col-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">
                            <a href="#">{{ portfolio.title }}</a>
                        </h5>
                        <p class="card-text">{{ portfolio.language }}({{ portfolio.description  }})</p>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
